<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.cgawron.agoban"
    android:versionCode="1"
    android:versionName="1.0">
  <application android:label="@string/app_name" android:icon="@drawable/icon" android:name="de.cgawron.agoban.SGFApplication">

    <provider android:authorities="de.cgawron.agoban" android:name="de.cgawron.agoban.provider.SGFProvider"/>

    <activity android:name="de.cgawron.agoban.EditSGF"
	      android:label="@string/app_name">
      <intent-filter>
	<action android:name="android.intent.action.MAIN" />
	<category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <action android:name="android.intent.action.INSERT" />
        <action android:name="android.intent.action.EDIT" />
	<category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:mimeType="application/x-go-sgf" />
      </intent-filter>
    </activity>

    <activity android:name="de.cgawron.agoban.ChooseSGF"
	      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.SEARCH" />
      </intent-filter>
    </activity>

    <activity android:name="de.cgawron.agoban.sync.GoogleSync"
	      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.SEARCH" />
      </intent-filter>
    </activity>

    <activity android:name="de.cgawron.agoban.ShowGameInfo"
	      android:label="@string/app_name">
      <intent-filter>
        <action android:name="GameInfo" />
      </intent-filter>
    </activity>

    <activity android:name="de.cgawron.agoban.SGFApplication$EditPreferences"
	    android:label="@string/app_name">
    </activity>
  </application>

  <uses-sdk android:targetSdkVersion="8" android:minSdkVersion="8"/>

  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
  <uses-permission android:name="android.permission.USE_CREDENTIALS" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest> 
